﻿@page "/"

@inject IJSRuntime JsRuntime;

<div id="theCanvas" style="position: fixed; opacity: 1; background-color: black; width: 100%; height: 100%">
    <BECanvas Width="300" Height="400" @ref="_canvasReference"></BECanvas>
</div>


@code
{
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeAsync<object>("initGame", DotNetObjectReference.Create(this));
        await base.OnInitializedAsync();
    }
}
